Ass02BpelMain/bpelContent/Ass02StudentSoap.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://waa.swin.edu.au" xmlns:ax23="http://waa.swin.edu.au/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://waa.swin.edu.au">
    <wsdl:documentation>Ass02StudentSoap</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax24="http://waa.swin.edu.au/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://waa.swin.edu.au">
            <xs:import namespace="http://waa.swin.edu.au/xsd"/>
            <xs:element name="getStudent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="studentId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStudentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isStudentExist">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="studentId" type="xs:int"/>
                        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isStudentExistResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Ass02StudentSoapStudentException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="StudentException" nillable="true" type="ax24:StudentException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteStudent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="studentId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteStudentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllStudent">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllStudentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addStudent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addStudentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://waa.swin.edu.au/xsd">
            <xs:complexType name="StudentException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addStudentRequest">
        <wsdl:part name="parameters" element="ns:addStudent"/>
    </wsdl:message>
    <wsdl:message name="addStudentResponse">
        <wsdl:part name="parameters" element="ns:addStudentResponse"/>
    </wsdl:message>
    <wsdl:message name="Ass02StudentSoapStudentException">
        <wsdl:part name="parameters" element="ns:Ass02StudentSoapStudentException"/>
    </wsdl:message>
    <wsdl:message name="isStudentExistRequest">
        <wsdl:part name="parameters" element="ns:isStudentExist"/>
    </wsdl:message>
    <wsdl:message name="isStudentExistResponse">
        <wsdl:part name="parameters" element="ns:isStudentExistResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteStudentRequest">
        <wsdl:part name="parameters" element="ns:deleteStudent"/>
    </wsdl:message>
    <wsdl:message name="deleteStudentResponse">
        <wsdl:part name="parameters" element="ns:deleteStudentResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllStudentRequest">
        <wsdl:part name="parameters" element="ns:getAllStudent"/>
    </wsdl:message>
    <wsdl:message name="getAllStudentResponse">
        <wsdl:part name="parameters" element="ns:getAllStudentResponse"/>
    </wsdl:message>
    <wsdl:message name="getStudentRequest">
        <wsdl:part name="parameters" element="ns:getStudent"/>
    </wsdl:message>
    <wsdl:message name="getStudentResponse">
        <wsdl:part name="parameters" element="ns:getStudentResponse"/>
    </wsdl:message>
    <wsdl:portType name="Ass02StudentSoapPortType">
        <wsdl:operation name="addStudent">
            <wsdl:input message="ns:addStudentRequest" wsaw:Action="urn:addStudent"/>
            <wsdl:output message="ns:addStudentResponse" wsaw:Action="urn:addStudentResponse"/>
            <wsdl:fault message="ns:Ass02StudentSoapStudentException" name="Ass02StudentSoapStudentException" wsaw:Action="urn:addStudentAss02StudentSoapStudentException"/>
        </wsdl:operation>
        <wsdl:operation name="isStudentExist">
            <wsdl:input message="ns:isStudentExistRequest" wsaw:Action="urn:isStudentExist"/>
            <wsdl:output message="ns:isStudentExistResponse" wsaw:Action="urn:isStudentExistResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteStudent">
            <wsdl:input message="ns:deleteStudentRequest" wsaw:Action="urn:deleteStudent"/>
            <wsdl:output message="ns:deleteStudentResponse" wsaw:Action="urn:deleteStudentResponse"/>
            <wsdl:fault message="ns:Ass02StudentSoapStudentException" name="Ass02StudentSoapStudentException" wsaw:Action="urn:deleteStudentAss02StudentSoapStudentException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllStudent">
            <wsdl:input message="ns:getAllStudentRequest" wsaw:Action="urn:getAllStudent"/>
            <wsdl:output message="ns:getAllStudentResponse" wsaw:Action="urn:getAllStudentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStudent">
            <wsdl:input message="ns:getStudentRequest" wsaw:Action="urn:getStudent"/>
            <wsdl:output message="ns:getStudentResponse" wsaw:Action="urn:getStudentResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Ass02StudentSoapSoap11Binding" type="ns:Ass02StudentSoapPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addStudent">
            <soap:operation soapAction="urn:addStudent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02StudentSoapStudentException">
                <soap:fault use="literal" name="Ass02StudentSoapStudentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isStudentExist">
            <soap:operation soapAction="urn:isStudentExist" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteStudent">
            <soap:operation soapAction="urn:deleteStudent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02StudentSoapStudentException">
                <soap:fault use="literal" name="Ass02StudentSoapStudentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllStudent">
            <soap:operation soapAction="urn:getAllStudent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStudent">
            <soap:operation soapAction="urn:getStudent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Ass02StudentSoapSoap12Binding" type="ns:Ass02StudentSoapPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addStudent">
            <soap12:operation soapAction="urn:addStudent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02StudentSoapStudentException">
                <soap12:fault use="literal" name="Ass02StudentSoapStudentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isStudentExist">
            <soap12:operation soapAction="urn:isStudentExist" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteStudent">
            <soap12:operation soapAction="urn:deleteStudent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02StudentSoapStudentException">
                <soap12:fault use="literal" name="Ass02StudentSoapStudentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllStudent">
            <soap12:operation soapAction="urn:getAllStudent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStudent">
            <soap12:operation soapAction="urn:getStudent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Ass02StudentSoapHttpBinding" type="ns:Ass02StudentSoapPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="addStudent">
            <http:operation location="addStudent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isStudentExist">
            <http:operation location="isStudentExist"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteStudent">
            <http:operation location="deleteStudent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllStudent">
            <http:operation location="getAllStudent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStudent">
            <http:operation location="getStudent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Ass02StudentSoap">
        <wsdl:port name="Ass02StudentSoapHttpSoap11Endpoint" binding="ns:Ass02StudentSoapSoap11Binding">
            <soap:address location="http://localhost:9763/services/Ass02StudentSoap.Ass02StudentSoapHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="Ass02StudentSoapHttpsSoap11Endpoint" binding="ns:Ass02StudentSoapSoap11Binding">
            <soap:address location="http://localhost:9763/services/Ass02StudentSoap.Ass02StudentSoapHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="Ass02StudentSoapHttpSoap12Endpoint" binding="ns:Ass02StudentSoapSoap12Binding">
            <soap12:address location="http://localhost:9763/services/Ass02StudentSoap.Ass02StudentSoapHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="Ass02StudentSoapHttpsSoap12Endpoint" binding="ns:Ass02StudentSoapSoap12Binding">
            <soap12:address location="http://localhost:9763/services/Ass02StudentSoap.Ass02StudentSoapHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="Ass02StudentSoapHttpEndpoint" binding="ns:Ass02StudentSoapHttpBinding">
            <http:address location="http://localhost:9763/services/Ass02StudentSoap.Ass02StudentSoapHttpEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="Ass02StudentSoapHttpsEndpoint" binding="ns:Ass02StudentSoapHttpBinding">
            <http:address location="http://localhost:9763/services/Ass02StudentSoap.Ass02StudentSoapHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>