Ass02BpelMain/bpelContent/Ass02BookSoap.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://waa.swin.edu.au" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax2464="http://waa.swin.edu.au/xsd" targetNamespace="http://waa.swin.edu.au">
    <wsdl:documentation>Ass02BookSoap</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2465="http://waa.swin.edu.au/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://waa.swin.edu.au">
            <xs:import namespace="http://waa.swin.edu.au/xsd"/>
            <xs:element name="isIsbnExist">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isIsbnExistResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRecordsStudent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="studentId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRecordsStudentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRecordsStudent2">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="studentId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRecordsStudent2Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllStudentRecords">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllStudentRecordsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Ass02BookSoapBookException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="BookException" nillable="true" type="ax2465:BookException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateStudentrecords">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="studentId" type="xs:int"/>
                        <xs:element minOccurs="0" name="bookId" type="xs:int"/>
                        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateStudentrecordsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insertStudentrecords">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="studentId" type="xs:int"/>
                        <xs:element minOccurs="0" name="bookId" type="xs:int"/>
                        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insertStudentrecordsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteStudentrecords">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="studentId" type="xs:int"/>
                        <xs:element minOccurs="0" name="bookId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteStudentrecordsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setBookStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bookId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="bstatus" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setBookStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteBook">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bookId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteBookResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addBook2">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bookTitle" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addBook2Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBook">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bookId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBookResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllBook">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllBookResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateBook">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bookid" type="xs:int"/>
                        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="authorList" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="publishDate" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="publisher" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateBookResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addBook">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bookTitle" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="authorList" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="publisher" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="publishDate" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addBookResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://waa.swin.edu.au/xsd">
            <xs:complexType name="BookException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getBookRequest">
        <wsdl:part name="parameters" element="ns:getBook"/>
    </wsdl:message>
    <wsdl:message name="getBookResponse">
        <wsdl:part name="parameters" element="ns:getBookResponse"/>
    </wsdl:message>
    <wsdl:message name="setBookStatusRequest">
        <wsdl:part name="parameters" element="ns:setBookStatus"/>
    </wsdl:message>
    <wsdl:message name="setBookStatusResponse">
        <wsdl:part name="parameters" element="ns:setBookStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="Ass02BookSoapBookException">
        <wsdl:part name="parameters" element="ns:Ass02BookSoapBookException"/>
    </wsdl:message>
    <wsdl:message name="insertStudentrecordsRequest">
        <wsdl:part name="parameters" element="ns:insertStudentrecords"/>
    </wsdl:message>
    <wsdl:message name="insertStudentrecordsResponse">
        <wsdl:part name="parameters" element="ns:insertStudentrecordsResponse"/>
    </wsdl:message>
    <wsdl:message name="isIsbnExistRequest">
        <wsdl:part name="parameters" element="ns:isIsbnExist"/>
    </wsdl:message>
    <wsdl:message name="isIsbnExistResponse">
        <wsdl:part name="parameters" element="ns:isIsbnExistResponse"/>
    </wsdl:message>
    <wsdl:message name="updateBookRequest">
        <wsdl:part name="parameters" element="ns:updateBook"/>
    </wsdl:message>
    <wsdl:message name="updateBookResponse">
        <wsdl:part name="parameters" element="ns:updateBookResponse"/>
    </wsdl:message>
    <wsdl:message name="addBookRequest">
        <wsdl:part name="parameters" element="ns:addBook"/>
    </wsdl:message>
    <wsdl:message name="addBookResponse">
        <wsdl:part name="parameters" element="ns:addBookResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllStudentRecordsRequest">
        <wsdl:part name="parameters" element="ns:getAllStudentRecords"/>
    </wsdl:message>
    <wsdl:message name="getAllStudentRecordsResponse">
        <wsdl:part name="parameters" element="ns:getAllStudentRecordsResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteBookRequest">
        <wsdl:part name="parameters" element="ns:deleteBook"/>
    </wsdl:message>
    <wsdl:message name="deleteBookResponse">
        <wsdl:part name="parameters" element="ns:deleteBookResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllBookRequest">
        <wsdl:part name="parameters" element="ns:getAllBook"/>
    </wsdl:message>
    <wsdl:message name="getAllBookResponse">
        <wsdl:part name="parameters" element="ns:getAllBookResponse"/>
    </wsdl:message>
    <wsdl:message name="updateStudentrecordsRequest">
        <wsdl:part name="parameters" element="ns:updateStudentrecords"/>
    </wsdl:message>
    <wsdl:message name="updateStudentrecordsResponse">
        <wsdl:part name="parameters" element="ns:updateStudentrecordsResponse"/>
    </wsdl:message>
    <wsdl:message name="addBook2Request">
        <wsdl:part name="parameters" element="ns:addBook2"/>
    </wsdl:message>
    <wsdl:message name="addBook2Response">
        <wsdl:part name="parameters" element="ns:addBook2Response"/>
    </wsdl:message>
    <wsdl:message name="getRecordsStudentRequest">
        <wsdl:part name="parameters" element="ns:getRecordsStudent"/>
    </wsdl:message>
    <wsdl:message name="getRecordsStudentResponse">
        <wsdl:part name="parameters" element="ns:getRecordsStudentResponse"/>
    </wsdl:message>
    <wsdl:message name="getRecordsStudent2Request">
        <wsdl:part name="parameters" element="ns:getRecordsStudent2"/>
    </wsdl:message>
    <wsdl:message name="getRecordsStudent2Response">
        <wsdl:part name="parameters" element="ns:getRecordsStudent2Response"/>
    </wsdl:message>
    <wsdl:message name="deleteStudentrecordsRequest">
        <wsdl:part name="parameters" element="ns:deleteStudentrecords"/>
    </wsdl:message>
    <wsdl:message name="deleteStudentrecordsResponse">
        <wsdl:part name="parameters" element="ns:deleteStudentrecordsResponse"/>
    </wsdl:message>
    <wsdl:portType name="Ass02BookSoapPortType">
        <wsdl:operation name="getBook">
            <wsdl:input message="ns:getBookRequest" wsaw:Action="urn:getBook"/>
            <wsdl:output message="ns:getBookResponse" wsaw:Action="urn:getBookResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setBookStatus">
            <wsdl:input message="ns:setBookStatusRequest" wsaw:Action="urn:setBookStatus"/>
            <wsdl:output message="ns:setBookStatusResponse" wsaw:Action="urn:setBookStatusResponse"/>
            <wsdl:fault message="ns:Ass02BookSoapBookException" name="Ass02BookSoapBookException" wsaw:Action="urn:setBookStatusAss02BookSoapBookException"/>
        </wsdl:operation>
        <wsdl:operation name="insertStudentrecords">
            <wsdl:input message="ns:insertStudentrecordsRequest" wsaw:Action="urn:insertStudentrecords"/>
            <wsdl:output message="ns:insertStudentrecordsResponse" wsaw:Action="urn:insertStudentrecordsResponse"/>
            <wsdl:fault message="ns:Ass02BookSoapBookException" name="Ass02BookSoapBookException" wsaw:Action="urn:insertStudentrecordsAss02BookSoapBookException"/>
        </wsdl:operation>
        <wsdl:operation name="isIsbnExist">
            <wsdl:input message="ns:isIsbnExistRequest" wsaw:Action="urn:isIsbnExist"/>
            <wsdl:output message="ns:isIsbnExistResponse" wsaw:Action="urn:isIsbnExistResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateBook">
            <wsdl:input message="ns:updateBookRequest" wsaw:Action="urn:updateBook"/>
            <wsdl:output message="ns:updateBookResponse" wsaw:Action="urn:updateBookResponse"/>
            <wsdl:fault message="ns:Ass02BookSoapBookException" name="Ass02BookSoapBookException" wsaw:Action="urn:updateBookAss02BookSoapBookException"/>
        </wsdl:operation>
        <wsdl:operation name="addBook">
            <wsdl:input message="ns:addBookRequest" wsaw:Action="urn:addBook"/>
            <wsdl:output message="ns:addBookResponse" wsaw:Action="urn:addBookResponse"/>
            <wsdl:fault message="ns:Ass02BookSoapBookException" name="Ass02BookSoapBookException" wsaw:Action="urn:addBookAss02BookSoapBookException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllStudentRecords">
            <wsdl:input message="ns:getAllStudentRecordsRequest" wsaw:Action="urn:getAllStudentRecords"/>
            <wsdl:output message="ns:getAllStudentRecordsResponse" wsaw:Action="urn:getAllStudentRecordsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteBook">
            <wsdl:input message="ns:deleteBookRequest" wsaw:Action="urn:deleteBook"/>
            <wsdl:output message="ns:deleteBookResponse" wsaw:Action="urn:deleteBookResponse"/>
            <wsdl:fault message="ns:Ass02BookSoapBookException" name="Ass02BookSoapBookException" wsaw:Action="urn:deleteBookAss02BookSoapBookException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllBook">
            <wsdl:input message="ns:getAllBookRequest" wsaw:Action="urn:getAllBook"/>
            <wsdl:output message="ns:getAllBookResponse" wsaw:Action="urn:getAllBookResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateStudentrecords">
            <wsdl:input message="ns:updateStudentrecordsRequest" wsaw:Action="urn:updateStudentrecords"/>
            <wsdl:output message="ns:updateStudentrecordsResponse" wsaw:Action="urn:updateStudentrecordsResponse"/>
            <wsdl:fault message="ns:Ass02BookSoapBookException" name="Ass02BookSoapBookException" wsaw:Action="urn:updateStudentrecordsAss02BookSoapBookException"/>
        </wsdl:operation>
        <wsdl:operation name="addBook2">
            <wsdl:input message="ns:addBook2Request" wsaw:Action="urn:addBook2"/>
            <wsdl:output message="ns:addBook2Response" wsaw:Action="urn:addBook2Response"/>
            <wsdl:fault message="ns:Ass02BookSoapBookException" name="Ass02BookSoapBookException" wsaw:Action="urn:addBook2Ass02BookSoapBookException"/>
        </wsdl:operation>
        <wsdl:operation name="getRecordsStudent">
            <wsdl:input message="ns:getRecordsStudentRequest" wsaw:Action="urn:getRecordsStudent"/>
            <wsdl:output message="ns:getRecordsStudentResponse" wsaw:Action="urn:getRecordsStudentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getRecordsStudent2">
            <wsdl:input message="ns:getRecordsStudent2Request" wsaw:Action="urn:getRecordsStudent2"/>
            <wsdl:output message="ns:getRecordsStudent2Response" wsaw:Action="urn:getRecordsStudent2Response"/>
        </wsdl:operation>
        <wsdl:operation name="deleteStudentrecords">
            <wsdl:input message="ns:deleteStudentrecordsRequest" wsaw:Action="urn:deleteStudentrecords"/>
            <wsdl:output message="ns:deleteStudentrecordsResponse" wsaw:Action="urn:deleteStudentrecordsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Ass02BookSoapSoap11Binding" type="ns:Ass02BookSoapPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getBook">
            <soap:operation soapAction="urn:getBook" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertStudentrecords">
            <soap:operation soapAction="urn:insertStudentrecords" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02BookSoapBookException">
                <soap:fault use="literal" name="Ass02BookSoapBookException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setBookStatus">
            <soap:operation soapAction="urn:setBookStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02BookSoapBookException">
                <soap:fault use="literal" name="Ass02BookSoapBookException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isIsbnExist">
            <soap:operation soapAction="urn:isIsbnExist" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateBook">
            <soap:operation soapAction="urn:updateBook" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02BookSoapBookException">
                <soap:fault use="literal" name="Ass02BookSoapBookException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addBook">
            <soap:operation soapAction="urn:addBook" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02BookSoapBookException">
                <soap:fault use="literal" name="Ass02BookSoapBookException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllStudentRecords">
            <soap:operation soapAction="urn:getAllStudentRecords" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteBook">
            <soap:operation soapAction="urn:deleteBook" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02BookSoapBookException">
                <soap:fault use="literal" name="Ass02BookSoapBookException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllBook">
            <soap:operation soapAction="urn:getAllBook" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateStudentrecords">
            <soap:operation soapAction="urn:updateStudentrecords" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02BookSoapBookException">
                <soap:fault use="literal" name="Ass02BookSoapBookException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addBook2">
            <soap:operation soapAction="urn:addBook2" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02BookSoapBookException">
                <soap:fault use="literal" name="Ass02BookSoapBookException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRecordsStudent">
            <soap:operation soapAction="urn:getRecordsStudent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRecordsStudent2">
            <soap:operation soapAction="urn:getRecordsStudent2" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteStudentrecords">
            <soap:operation soapAction="urn:deleteStudentrecords" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Ass02BookSoapSoap12Binding" type="ns:Ass02BookSoapPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getBook">
            <soap12:operation soapAction="urn:getBook" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertStudentrecords">
            <soap12:operation soapAction="urn:insertStudentrecords" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02BookSoapBookException">
                <soap12:fault use="literal" name="Ass02BookSoapBookException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setBookStatus">
            <soap12:operation soapAction="urn:setBookStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02BookSoapBookException">
                <soap12:fault use="literal" name="Ass02BookSoapBookException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isIsbnExist">
            <soap12:operation soapAction="urn:isIsbnExist" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateBook">
            <soap12:operation soapAction="urn:updateBook" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02BookSoapBookException">
                <soap12:fault use="literal" name="Ass02BookSoapBookException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addBook">
            <soap12:operation soapAction="urn:addBook" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02BookSoapBookException">
                <soap12:fault use="literal" name="Ass02BookSoapBookException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllStudentRecords">
            <soap12:operation soapAction="urn:getAllStudentRecords" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteBook">
            <soap12:operation soapAction="urn:deleteBook" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02BookSoapBookException">
                <soap12:fault use="literal" name="Ass02BookSoapBookException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllBook">
            <soap12:operation soapAction="urn:getAllBook" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateStudentrecords">
            <soap12:operation soapAction="urn:updateStudentrecords" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02BookSoapBookException">
                <soap12:fault use="literal" name="Ass02BookSoapBookException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addBook2">
            <soap12:operation soapAction="urn:addBook2" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Ass02BookSoapBookException">
                <soap12:fault use="literal" name="Ass02BookSoapBookException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRecordsStudent">
            <soap12:operation soapAction="urn:getRecordsStudent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRecordsStudent2">
            <soap12:operation soapAction="urn:getRecordsStudent2" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteStudentrecords">
            <soap12:operation soapAction="urn:deleteStudentrecords" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Ass02BookSoapHttpBinding" type="ns:Ass02BookSoapPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getBook">
            <http:operation location="getBook"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertStudentrecords">
            <http:operation location="insertStudentrecords"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setBookStatus">
            <http:operation location="setBookStatus"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isIsbnExist">
            <http:operation location="isIsbnExist"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateBook">
            <http:operation location="updateBook"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addBook">
            <http:operation location="addBook"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllStudentRecords">
            <http:operation location="getAllStudentRecords"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteBook">
            <http:operation location="deleteBook"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllBook">
            <http:operation location="getAllBook"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateStudentrecords">
            <http:operation location="updateStudentrecords"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addBook2">
            <http:operation location="addBook2"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRecordsStudent">
            <http:operation location="getRecordsStudent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRecordsStudent2">
            <http:operation location="getRecordsStudent2"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteStudentrecords">
            <http:operation location="deleteStudentrecords"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Ass02BookSoap">
        <wsdl:port name="Ass02BookSoapHttpSoap11Endpoint" binding="ns:Ass02BookSoapSoap11Binding">
            <soap:address location="http://localhost:9763/services/Ass02BookSoap.Ass02BookSoapHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="Ass02BookSoapHttpsSoap11Endpoint" binding="ns:Ass02BookSoapSoap11Binding">
            <soap:address location="http://localhost:9763/services/Ass02BookSoap.Ass02BookSoapHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="Ass02BookSoapHttpsSoap12Endpoint" binding="ns:Ass02BookSoapSoap12Binding">
            <soap12:address location="http://localhost:9763/services/Ass02BookSoap.Ass02BookSoapHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="Ass02BookSoapHttpSoap12Endpoint" binding="ns:Ass02BookSoapSoap12Binding">
            <soap12:address location="http://localhost:9763/services/Ass02BookSoap.Ass02BookSoapHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="Ass02BookSoapHttpEndpoint" binding="ns:Ass02BookSoapHttpBinding">
            <http:address location="http://localhost:9763/services/Ass02BookSoap.Ass02BookSoapHttpEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="Ass02BookSoapHttpsEndpoint" binding="ns:Ass02BookSoapHttpBinding">
            <http:address location="http://localhost:9763/services/Ass02BookSoap.Ass02BookSoapHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>