Ass02BpelMain/bpelContent/orderBookArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://waa.swin.edu.au" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="orderBookArtifacts" targetNamespace="http://waa.swin.edu.au">
    <partnerLinkType name="inputPLT" xmlns="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <role name="inputLinkProcessRole" portType="ns:orderBookPortType"/>
  </partnerLinkType>
    <plnk:partnerLinkType name="studentPLT">
    <plnk:role name="studentProcessRole" portType="ns:Ass02StudentSoapPortType"/>
  </plnk:partnerLinkType>
    <wsdl:import location="Ass02StudentSoap.wsdl" namespace="http://waa.swin.edu.au"/>
    <wsdl:types>
    <xsd:schema targetNamespace="http://waa.swin.edu.au">
      <xsd:element name="orderBook">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="studentId" type="xsd:int"/>
          	<xsd:element name="isbn" type="xsd:string">
          	</xsd:element>
          	<xsd:element name="pin" type="xsd:string">
          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="orderBookResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="responseToUser" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="orderBookRequest">
    <wsdl:part element="ns:orderBook" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="orderBookResponse">
    <wsdl:part element="ns:orderBookResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="orderBookPortType">
    <wsdl:operation name="orderBook">
      <wsdl:input message="ns:orderBookRequest"/>
      <wsdl:output message="ns:orderBookResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="orderBookArtifactsSOAP" type="ns:orderBookPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="orderBook">
      <soap:operation soapAction="http://waa.swin.edu.au/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="orderBook">
    <wsdl:port binding="ns:orderBookArtifactsSOAP" name="orderBookPort">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
