BookOrderProcess/bpelContent/BookOrderArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://waa.swin.edu.au" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl1="http://swin.au" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookOrderArtifacts" targetNamespace="http://waa.swin.edu.au">
    <partnerLinkType xmlns="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="clientPLT">
    <role name="validateProvider" portType="ns:BookOrderPortType"/>
  </partnerLinkType>
    <plnk:partnerLinkType name="validatePLT">
    <plnk:role name="validateService" portType="ns:Ass02StudentSoapPortType"/>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="isIsbnExistPLT">
    <plnk:role name="isbnExistChecker" portType="ns:Ass02BookSoapPortType"/>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="checkISBNPLT">
    <plnk:role name="checkISBNPro" portType="wsdl1:Ass02BookSoapPortType"/>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="checkISBN1PLT">
    <plnk:role name="checker" portType="wsdl1:Ass02BookSoapPortType"/>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="isbnPLT">
    <plnk:role name="isbnChecker" portType="wsdl1:Ass02BookSoapPortType"/>
  </plnk:partnerLinkType>
    <wsdl:import location="Ass02StudentSoap.wsdl" namespace="http://waa.swin.edu.au"/>
    <wsdl:import location="Ass02BookSoap.wsdl" namespace="http://swin.au"/>
    <wsdl:types>
    <xsd:schema targetNamespace="http://waa.swin.edu.au">
      <xsd:element name="OrderBook">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="studentId" type="xsd:int"/>
          	<xsd:element name="pin" type="xsd:string"/>
          	<xsd:element name="isbn" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OrderBookResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="OrderBookRequest">
    <wsdl:part element="ns:OrderBook" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="OrderBookResponse">
    <wsdl:part element="ns:OrderBookResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="BookOrderPortType">
    <wsdl:operation name="OrderBook">
      <wsdl:input message="ns:OrderBookRequest"/>
      <wsdl:output message="ns:OrderBookResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookOrderArtifactsSOAP" type="ns:BookOrderPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OrderBook">
      <soap:operation soapAction="http://waa.swin.edu.au/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookOrder">
    <wsdl:port binding="ns:BookOrderArtifactsSOAP" name="BookOrderPort">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
