BookServiceBPEL/bpelContent/BookBPEL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://au.edu.swin.waa" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookBPEL" targetNamespace="http://au.edu.swin.waa">
  <wsdl:types>
    <xsd:schema targetNamespace="http://au.edu.swin.waa">
      <xsd:element name="checkBookExistence">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkBookExistenceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="checkBookExistenceRequest">
    <wsdl:part element="ns:checkBookExistence" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="checkBookExistenceResponse">
    <wsdl:part element="ns:checkBookExistenceResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="BookBPELPortType">
    <wsdl:operation name="checkBookExistence">
      <wsdl:input message="ns:checkBookExistenceRequest"/>
      <wsdl:output message="ns:checkBookExistenceResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookBPELSOAP" type="ns:BookBPELPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="checkBookExistence">
      <soap:operation soapAction="http://au.edu.swin.waa/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookBPEL">
    <wsdl:port binding="ns:BookBPELSOAP" name="BookBPELPort">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
