BookOrderProcess/BookOrderProcess/bpelContent/Ass02BookInformation.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://sw.au" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://sw.au">
    <wsdl:documentation>Ass02BookInformation</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sw.au">
            <xs:element name="isAvailableInAustralia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isAvailableInAustraliaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateAllThreeMessage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateAllThreeMessageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isRatingInRange">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isRatingInRangeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateAllThree">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateAllThreeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isIsbnExist">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isIsbnExistResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isEbookAvailable">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isEbookAvailableResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="isIsbnExistRequest">
        <wsdl:part name="parameters" element="ns:isIsbnExist"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isIsbnExistResponse">
        <wsdl:part name="parameters" element="ns:isIsbnExistResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isRatingInRangeRequest">
        <wsdl:part name="parameters" element="ns:isRatingInRange"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isRatingInRangeResponse">
        <wsdl:part name="parameters" element="ns:isRatingInRangeResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateAllThreeRequest">
        <wsdl:part name="parameters" element="ns:validateAllThree"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateAllThreeResponse">
        <wsdl:part name="parameters" element="ns:validateAllThreeResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isAvailableInAustraliaRequest">
        <wsdl:part name="parameters" element="ns:isAvailableInAustralia"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isAvailableInAustraliaResponse">
        <wsdl:part name="parameters" element="ns:isAvailableInAustraliaResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateAllThreeMessageRequest">
        <wsdl:part name="parameters" element="ns:validateAllThreeMessage"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateAllThreeMessageResponse">
        <wsdl:part name="parameters" element="ns:validateAllThreeMessageResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isEbookAvailableRequest">
        <wsdl:part name="parameters" element="ns:isEbookAvailable"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isEbookAvailableResponse">
        <wsdl:part name="parameters" element="ns:isEbookAvailableResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Ass02BookInformationPortType">
        <wsdl:operation name="isIsbnExist">
            <wsdl:input message="ns:isIsbnExistRequest" wsaw:Action="urn:isIsbnExist"></wsdl:input>
            <wsdl:output message="ns:isIsbnExistResponse" wsaw:Action="urn:isIsbnExistResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isRatingInRange">
            <wsdl:input message="ns:isRatingInRangeRequest" wsaw:Action="urn:isRatingInRange"></wsdl:input>
            <wsdl:output message="ns:isRatingInRangeResponse" wsaw:Action="urn:isRatingInRangeResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateAllThree">
            <wsdl:input message="ns:validateAllThreeRequest" wsaw:Action="urn:validateAllThree"></wsdl:input>
            <wsdl:output message="ns:validateAllThreeResponse" wsaw:Action="urn:validateAllThreeResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isAvailableInAustralia">
            <wsdl:input message="ns:isAvailableInAustraliaRequest" wsaw:Action="urn:isAvailableInAustralia"></wsdl:input>
            <wsdl:output message="ns:isAvailableInAustraliaResponse" wsaw:Action="urn:isAvailableInAustraliaResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateAllThreeMessage">
            <wsdl:input message="ns:validateAllThreeMessageRequest" wsaw:Action="urn:validateAllThreeMessage"></wsdl:input>
            <wsdl:output message="ns:validateAllThreeMessageResponse" wsaw:Action="urn:validateAllThreeMessageResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isEbookAvailable">
            <wsdl:input message="ns:isEbookAvailableRequest" wsaw:Action="urn:isEbookAvailable"></wsdl:input>
            <wsdl:output message="ns:isEbookAvailableResponse" wsaw:Action="urn:isEbookAvailableResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Ass02BookInformationSoap11Binding" type="ns:Ass02BookInformationPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="isIsbnExist">
            <soap:operation soapAction="urn:isIsbnExist" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isRatingInRange">
            <soap:operation soapAction="urn:isRatingInRange" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateAllThree">
            <soap:operation soapAction="urn:validateAllThree" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isAvailableInAustralia">
            <soap:operation soapAction="urn:isAvailableInAustralia" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateAllThreeMessage">
            <soap:operation soapAction="urn:validateAllThreeMessage" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isEbookAvailable">
            <soap:operation soapAction="urn:isEbookAvailable" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Ass02BookInformationSoap12Binding" type="ns:Ass02BookInformationPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="isIsbnExist">
            <soap12:operation soapAction="urn:isIsbnExist" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isRatingInRange">
            <soap12:operation soapAction="urn:isRatingInRange" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateAllThree">
            <soap12:operation soapAction="urn:validateAllThree" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isAvailableInAustralia">
            <soap12:operation soapAction="urn:isAvailableInAustralia" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateAllThreeMessage">
            <soap12:operation soapAction="urn:validateAllThreeMessage" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isEbookAvailable">
            <soap12:operation soapAction="urn:isEbookAvailable" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Ass02BookInformationHttpBinding" type="ns:Ass02BookInformationPortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="isIsbnExist">
            <http:operation location="isIsbnExist"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isRatingInRange">
            <http:operation location="isRatingInRange"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateAllThree">
            <http:operation location="validateAllThree"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isAvailableInAustralia">
            <http:operation location="isAvailableInAustralia"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateAllThreeMessage">
            <http:operation location="validateAllThreeMessage"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isEbookAvailable">
            <http:operation location="isEbookAvailable"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Ass02BookInformation">
        <wsdl:port name="Ass02BookInformationHttpsSoap11Endpoint" binding="ns:Ass02BookInformationSoap11Binding">
            <soap:address location="https://localhost:9443/services/Ass02BookInformation.Ass02BookInformationHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="Ass02BookInformationHttpSoap11Endpoint" binding="ns:Ass02BookInformationSoap11Binding">
            <soap:address location="http://localhost:9763/services/Ass02BookInformation.Ass02BookInformationHttpSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="Ass02BookInformationHttpSoap12Endpoint" binding="ns:Ass02BookInformationSoap12Binding">
            <soap12:address location="http://localhost:9763/services/Ass02BookInformation.Ass02BookInformationHttpSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="Ass02BookInformationHttpsSoap12Endpoint" binding="ns:Ass02BookInformationSoap12Binding">
            <soap12:address location="https://localhost:9443/services/Ass02BookInformation.Ass02BookInformationHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="Ass02BookInformationHttpEndpoint" binding="ns:Ass02BookInformationHttpBinding">
            <http:address location="http://localhost:9763/services/Ass02BookInformation.Ass02BookInformationHttpEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="Ass02BookInformationHttpsEndpoint" binding="ns:Ass02BookInformationHttpBinding">
            <http:address location="https://localhost:9443/services/Ass02BookInformation.Ass02BookInformationHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>